{% extends 'index.html' %}


{% block content %}

    <div>
        <form action="/" class="home" method="POST">
            <div class="answer">
                {{data}}
            </div>
            <div class="input-box">
                <input type="text" name="message" id="text"/>
                <button id="#submit">send</button>
            </div>
        </form>
    </div>
    
    

    <script type="text/javascript">
        $(document).ready(function() {
            $('#submit').click(function() {
                // console.log("hihi")
                var textInput = $('#text').val();
                alert(textInput)
                $.ajax({
                    type: 'POST',
                    url: '/',
                    contentType: 'application/json',
                    data: {'text': textInput},
                    success: function(response) {
                        $('#answer').text(response.result);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>

{% endblock %}