{% extends 'index.html' %}


{% block content %}

    <div>
        <form class="home py-3" id="form" method="POST">
            <div class="answer">
                <p id="answer"></p>
            </div>
            <div class="input-box">
                <input type="text" name="message" id="text"/>
                <button id="submit">send</button>
            </div>
        </form>
    </div>
    
    

    <script type="text/javascript">
        $(document).ready(()=>{
            $("#submit").click((ev)=>{
                ev.preventDefault();
                // alert("hihi")
                var text = $("#text").val()
                var req = $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {'message':text}
                })
                req.done((data)=>{
                    // $("#answer").text(data.result)
                    var existingContent = $("#answer").html(); // Get existing content
                    var newContent = existingContent + "<br/>" + data.result; // Concatenate
                    $("#answer").html(newContent);
                    $("#text").val("")
                })

            })
        })
    </script>

{% endblock %}